{% extends 'chirper/base.html' %}
{% load django_bootstrap5 %}
{% block title %}<title>Chirper | Login</title>{% endblock title %}

{% block content %}
    <div class='container text-center mt-5'>
        {% if user.is_authenticated %}
                <p>You are already logged in.</p>
    </div>
        {% else %}
        <div class='row justify-content-md-center'>
            <div class="col-lg-4">
                <form class="body-center" action="{% url 'accounts:login' %}" method='post'>
                    {% csrf_token %}
                    {% bootstrap_form form layout="horizontal"%}
                    {% bootstrap_button button_type="submit" content="Login" %}
                </form>
            </div>
        </div>
        {% endif %}
{% endblock content %}